html
{
    scroll-behavior: smooth;
}
body
{
    padding: 0px;
    margin: 0px;
    height: 900px;
}
.nota
{
    width: 99.5%;
    background-color: rgb(20, 19, 19,0.9);
    position: absolute;
    color: #ffffff;
    text-align: center;
    font-family: 'Chakra Petch', sans-serif;
    padding: 10px 3px;

}
h1
{
    text-align: center;
    font-family: 'Croissant One', cursive;
    font-size: 50px;
    color: #000000;
    padding: 135px 10px 10px 100px;
    position: absolute;
}
.imgs
{
    background-image: url(/Actividad-1/img/Receta-De-Cocina-Banderillas.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    width: auto;
    height: 400px;
}

.titulo
{
    width: 450px;
    padding-bottom: 5px;
    font-family: 'Alegreya', serif;
    font-size: 21px;
    border-bottom: 3px solid #800e0e;
}

.texto1
{
    width: 1100px;
    font-family: 'Abhaya Libre', serif;
    font-size: 17px;
    text-align: justify;
}


.tablas
{
    display: flex;
    width: 100%;
}

.tabla-nutrimental
{
    width: 50%;
}

.tabla-nutrimental table td
{
    width: 65%;
    border: 1px solid black;
    font-family: 'Athiti', sans-serif;
}

.contacto
{
    width: 50%;
}

label
{
    font-family: 'Abhaya Libre', serif;
    font-size: 15px;
}

input
{
    width: 250px;
    height: 15px;
    font-family: 'Abhaya Libre', serif;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid black;
}
input:focus
{
    outline:none;
} 
textarea
{
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
}
textarea:focus
{
    outline:none;
} 